.posts {
  margin-top: 20px;
}

.posts__form {
  margin-bottom: 20px;
}

.posts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.posts__item {
  margin-bottom: 10px;
}

.posts__item:last-child {
  margin-bottom: 0;
}