.container{
  height: 81vh;
  margin-top: 205px;
  display: flex;
  justify-content: center;
}

.authPage{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}