@import '../../style/variables.scss';


.container{
  margin-top: 265px;
}

.pageHeader{
  color: $c-black;
  width: 897px;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
}
.breadCrumps{
  color: black;
  max-width: 1410px;
  margin: 70px auto 30px;
  width: 100%;
}