.loginContainer{
  max-width: 190px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-direction: column;

  &:hover{
    filter: brightness(1.2);
  }

  &MenuMode{
    height: 80px;
  }
}

.icon{
  height: 100%;
}

