@import '../../style/variables.scss';

.ratingBox {
  display: flex;
align-items: baseline;
font-size: $fs-mid-small + px;
font-family: $f-inter-med;
}

.rating {
  width:10px;
  height: 10px;
  margin-right: 1px;

  &:first-child{
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    color: $c-light-gray;
  }
  &:last-child{
    margin-right: 0;
  }
}